main h1 {
    color: #660B05;
    font-size: 80px;
}
/* Banner */

.banner {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
}

.banner img {
    height: 300px;
    width: 100vw;
}

/* Produtos */

.produtos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.produto {
    padding: 30px 45px;
}

.imagem {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    height: 300px;
    width: 350px;
    background-color: #e7dab1b0;
}

.produto:hover .titulo{
    text-decoration: underline;
}

.produto .imagem img{
    transition: 1s;
}

.produto:hover .imagem img{
    scale: 1.1;
}
.titulo {
    font-family: "Mozilla Headline", Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 3px 5px;
    font-weight: bold;
    transition: 1.5s;
    color: black;
}
.preco {
    font-family: "Mozilla Headline", Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 0px 5px;
    color: black;
}